:root {
  --first-color: #f2f2f0;
  --second-color: #e0513a;
  --third-color: #2c365d;
  --fourth-color: #272e4f;
  --heading-font-family: "Montserrat", sans-serif;
  --default-font-family: "Noto Serif Georgian", serif;
}

body {
  font-family: var(--default-font-family);
}

.logo {
  max-width: 100px;
}

nav {
  padding: 10px 0;
}

nav ul {
  margin-top: 20px;
  padding: 0;
}

nav li {
  display: inline;
  font-family: var(--heading-font-family);
  line-height: 42px;
  list-style: none;
}

nav a {
  color: var(--fourth-color);
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover,
nav li.active a {
  color: var(--second-color);
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

.introduction {
  color: var(--third-color);
  font-size: 24px;
  font-weight: medium;
  line-height: 30px;
}

.project-description {
  padding: 30px 60px;
}

.project-description h2 {
  color: var(--third-color);
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}

.project-description p {
  color: var(--third-color);
  font-size: 18px;
  font-weight: medium;
  line-height: 30px;
  opacity: 0.86;
}

.launch-project-button {
  background-color: var(--fourth-color);
  border-radius: 4px;
  border: 2px solid var(--second-color);
  color: var(--first-color);
  line-height: 27px;
  padding: 15px 30px;
  transition: 100ms all ease-in-out;
}

.launch-project-button:hover {
  background-color: var(--first-color);
  color: var(--fourth-color);
}

.weather-app {
  border-radius: 4px;
  box-shadow: 5px -5px 20px rgba(224, 81, 58, 0.2);
  margin-bottom: 25px;
}

.hero {
  background-color: var(--fourth-color);
  background: linear-gradient(
    90deg,
    rgba(39, 46, 79, 1) 0%,
    rgba(44, 54, 93, 1) 50%,
    rgba(242, 242, 240, 1) 100%
  );
  display: flex;
  justify-content: space-around;
  padding: 80px 20px;
}

.hero h1,
h2,
p {
  color: var(--first-color);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

.hero h2 {
  font-size: 24px;
  font-weight: medium;
  line-height: 1.5;
  text-align: left;
  opacity: 0.86;
}

.container .introduction {
  text-transform: uppercase;
}

.hero .btn-branding,
footer .btn-branding {
  background: var(--second-color);
  border-color: var(--first-color);
  border-radius: 4px;
  color: var(--first-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-left: 5px;
}

.hero .btn-branding:hover,
footer .btn-branding:hover {
  background: var(--first-color);
  color: var(--second-color);
  border-color: var(--second-color);
}

.me-portrait {
  box-shadow: 5px -5px 20px rgba(224, 81, 58, 0.2);
  display: block;
  border-radius: 10px;
  max-width: 100%;
  margin: 0 auto;
  height: 292px;
}

.me-portrait:hover {
  transform: scale(1.15, 1.15);
}

.about-section {
  padding: 60px 20px;
}

.about-section h1,
h2 {
  text-align: center;
}

.about-section h1 {
  color: var(--fourth-color);
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 1.5;
}

.about-section h2 {
  color: var(--fourth-color);
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: bold;
  opacity: 0.86;
}

.about-section p {
  background-color: var(--third-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 2;
  padding: 18px;
  text-align: justify;
}

.about-section .about-highlight {
  color: var(--second-color);
  font-weight: bold;
}

.about-section .quote-higlight {
  font-size: 20px;
  font-style: italic;
  padding: 25px 0;
}

.content-container {
  padding: 60px 20px;
}

.content {
  color: var(--third-color);
  text-align: center;
  margin: 30px;
}

.content h1 {
  color: var(--fourth-color);
  font-size: 64px;
  line-height: 80px;
}

.content .contact-icon {
  color: var(--second-color);
  font-size: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  gap: 1.5rem;
}

.gallery .gallery-project {
  max-width: 320px;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 5px -5px 20px rgba(224, 81, 58, 0.2);
}

.gallery .gallery-project h3 {
  margin: 0 0 0.5rem 0;
  transition: color 0.3s ease-out;
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

.gallery .gallery-project img {
  max-width: 100%;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  object-fit: cover;
}

.gallery .gallery-project:hover img {
  transform: scale(1.5);
}

.gallery-description {
  padding: 1.5rem;
  background: white;
}

.gallery-project figure {
  margin-top: 10px;
  width: 100%;
  height: 14rem;
  overflow: hidden;
}

footer {
  margin-top: 20px;
  text-align: center;
}

footer .contact-box {
  background-color: var(--fourth-color);
  border-radius: 10px;
  color: var(--first-color);
  padding: 30px 120px;
}

footer .contact-box h4 {
  font-family: var(--heading-font-family);
  font-size: 48px;
}

footer .contact-box p {
  margin: 0;
  opacity: 0.86;
}

footer .email-link {
  color: var(--fourth-color);
  box-sizing: unset;
  font-size: 24px;
  text-decoration: none;
}

footer .email-link:hover {
  color: var(--second-color);
}

footer .social-media-icons {
  background-color: var(--third-color);
  border-radius: 50%;
  color: var(--second-color);
  margin: 0 20px;
  font-size: 18px;
  padding: 10px;
}

footer .social-media-icons:hover {
  background-color: var(--second-color);
  color: var(--third-color);
  transition: all 100ms ease-in-out;
}

.signature {
  color: var(--fourth-color);
}

.signature a {
  color: var(--fourth-color);
}

@media (max-width: 768px) {
  .logo {
    margin-top: 18px;
    max-height: 40px;
  }

  nav a {
    font-size: 14px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h1 {
    font-size: 48px;
    line-height: 2;
  }

  .project-description,
  .second-project-description {
    padding: 0;
    text-align: center;
  }

  .project-description h2,
  .second-project-description h2 {
    font-size: 44px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  footer .contact-box {
    padding: 30px;
  }

  footer .contact-box h4 {
    font-size: 18px;
  }

  footer .email-link {
    font-size: 20px;
  }
}
